.tasks__grid__item{
    /* border: 2px solid aquamarine; */
    background-color: var(--primary-color);
    border-radius: var(--app-border-radius);
}
.tasks__header{
    /* border-bottom: 2px solid aquamarine; */
    color: black;
    font-weight: bold;
    padding: 10px 0;
}